body{
  background-color: #3E324D;
  background-image: url('../img/fon.svg')
}
.container{
display: grid;
grid-template-columns: 1100px 720px 100px;
grid-template-rows: 269px 240px 120px 240px 100px;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"first third fifth"
"first third fifth"
"second third fifth"
"second fourth fifth"
"sixth sixth seventh";
}
.first,.second,.third,.fourth,.fifth,.sixth,.seventh {
border: 5px solid #FFFFFF;
position: relative;
overflow: hidden;
}


.first {
grid-area: first;
border-bottom-style: none;
border-top-style: none;
border-left-style: none;
}
.second {
grid-area: second;
border-bottom-style: none;
border-left-style: none;
}
.third {
grid-area: third;
border-left-style: none;
border-bottom-style: none;
border-right-style: none;
border-top-style: none;
}
.fourth {
grid-area: fourth;
border-left-style: none;
border-bottom-style: none;
border-right-style: none;
}
.fifth {
grid-area: fifth;
border-bottom-style: none;
border-top-style: none;
border-right-style: none;
}
.sixth {
grid-area: sixth;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
}
.seventh {
grid-area: seventh;
border-bottom-style: none;
border-right-style: none;
}
.seventh img{
width: 100%;
margin-left: 1%;
margin-top: 6%;
}

.podpis{
font-family: Raleway;
color: #FFFFFF;
font-size: 210%;
padding-top: 3%;
padding-left: 3%;
}
.zagolovok{
font-family: Minsk;
color: #FFFFFF;
font-size: 1100%;
line-height: 185px;
padding-top: 4%;
padding-bottom: 2%;
padding-left: 2.1%;
animation: pulsate 1.5s linear infinite;
}
@keyframes pulsate {
50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3),
0 0 15px #ffd, 0 0 20px #fff;}
}

.podpis2{
font-family: Raleway;
color: #FFFFFF;
font-size: 210%;
padding-top: 3%;
padding-left: 5%;
line-height: 43px;
padding-top: 70px;
}
.podpis3{
font-family: Minsk;
color: #FFFFFF;
font-size: 230%;
text-shadow: #FFFFFF 0 0 30px;
transform: rotate(90deg);
margin-top: 60%;
white-space: nowrap;
word-spacing: 20px;
margin-top: 220px;
}
