@font-face {
font-family: "Raleway";
src: url("../fonts/Raleway-Medium.woff") format("woff"),
     url("../fonts/Raleway-Medium.otf") format("otf");
font-style: medium;
font-weight: bold;
}
@font-face {
font-family: "Minsk";
src: url("../fonts/Minsk.woff") format("woff"),
     url("../fonts/Minsk-regular.otf") format("otf");
font-style: normal;
font-weight: regular;
}
